:root {

    --background-blanco: #FFFFFF;
    --background-blanco-oscuro: #F5F5F5;
    --background-azul-claro: #EAF2FD;
    --color-gris-fuerte: #464646;

    --raleway: 'Raleway', sans-serif;
}
body {
    font-family: 'Raleway', sans-serif;
    background-color: var(--background-blanco-oscuro);
}

.container {
    padding-left: 12%;
    padding-right: 12%;
}