:root {

    --background-blanco: #FFFFFF;
    --background-blanco-oscuro: #F5F5F5;
    --background-azul-claro: #EAF2FD;
    --color-gris-fuerte: #464646;
    --color-azul: #2A7AE4;
    --color-azul-cielo: #70A5EA;
    --color-gris-claro: #A2A2A2;
    --color-gris-linea: #C8C8C8;

    --raleway: 'Raleway', sans-serif;
}
body {
    font-family: 'Raleway', sans-serif;
    background-color: var(--background-blanco-oscuro);
}

.container {
    padding-left: 12%;
    padding-right: 12%;
}

@media screen and (min-width:0px) and (max-width: 1024px) {
    .container {
        padding-left: 6%;
        padding-right: 6%;
    }
}