:root {

    --background-blanco: #ffffff;
    --color-gris-fuerte: #464646;

    --raleway: 'Raleway', sans-serif;
}
body {
    font-family: 'Raleway', sans-serif;
}

.container {
    padding-left: 12%;
    padding-right: 12%;
}