.header {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    padding-bottom: 1rem;
    align-items: center;
}

.header__name {
    font-weight: bold;
    color: var(--color-gris-fuerte);
}

.header__lista {
    display: flex;
}
.header__enlace {
    font-size: 1rem;
    margin: 0.5rem;
    transition: all 0.1s ease-in-out;
    color: var(--color-gris-fuerte);
}
.header__enlace--correo {
    font-weight: bold;
    font-size: 1rem;
    margin: 0.5rem;
    transition: all 0.1s ease-in-out;
    color: var(--color-gris-fuerte);
}
.header__enlace:hover {
    text-decoration: underline;
    color: #868686;
}

.header__enlace--correo:hover {
    text-decoration: underline;
    color: #868686;
}

@media screen and (min-width: 1024px) {
    .header__enlace {
        display: inline-block;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .header__enlace {
        display: none;
    }
}

@media screen and (min-width: 0px) and (max-width: 768px) {
    .header__lista {
        width: 100%;
        justify-content: space-between;
    }

    .header__enlace {
        display: none;
    }
    
    .header__enlace--correo {
        font-weight: normal;
        font-size: 0.6rem;
    }
}