.header {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    padding-bottom: 1rem;
    align-items: center;
}

.header__name {
    font-weight: bold;
    color: var(--color-gris-fuerte);
}

.header__lista {
    display: flex;
}
.header__enlace {
    font-size: 1rem;
    margin: 0.5rem;
    transition: all 0.1s ease-in-out;
    color: var(--color-gris-fuerte);
}
.header__enlace--correo {
    font-weight: bold;
}
.header__enlace:hover {
    text-decoration: underline;
    color: #868686;
}