.presentacion {
    display: flex;
    margin-top: 100px;
    align-items: center;
}

.presentacion__informacion {
    padding-right: 2rem;
}

.presentacion__titulo {
    font-size: 3rem;
    font-weight: bold;
    color: var(--color-gris-fuerte);
}

.presentacion__descripcion {
    line-height: 20px;
    text-align: justify;
    margin-top: 1.5rem;
    font-weight: 400;
    color: var(--color-gris-fuerte);
    font-size: 1.25rem;
}

.presentacion__lista {
    display: flex;
    margin-top: 1.5rem;
}

.presentacion__enlace {
    margin-right: 3rem;
    padding-right: 1rem;
    font-size: 1rem;
    background-image: url(../img/arrow.png);
    background-repeat: no-repeat;
    background-position: right 10% top 70%; 
}

.presentacion__enlace:hover {
    text-decoration: underline;
    color: #868686;
}

.presentacion__imagen {
    width: 350px;
    height: 350px;
    border-radius: 100%;
}

@media screen and (min-width: 768px) and (max-width:1024px) {
    .presentacion {
        margin-top: 2rem;
    }

    .presentacion__informacion{
        margin-right: 3rem;
    }

    .presentacion__titulo {
        font-size: 1.5rem;
    }

    .presentacion__descripcion {
        font-size: 1rem;
    }

    .presentacion__imagen {
        width: 146px;
        height: 146px;
    }
}

@media screen and (min-width: 0px) and (max-width: 768px) {
    .presentacion {
        flex-direction: column-reverse;
        align-items: flex-start;
        margin-top: 1rem;
    }

    .presentacion__informacion {
        width: 100%;
        padding-right: 0;
    }
    
    .presentacion__titulo {
        font-size: 1.5rem;
    }

    .presentacion__imagen {
        width: 98px;
        height: 98px;
        margin-bottom: 1rem;
    }

    .presentacion__descripcion {
        font-size: 1rem;
        text-align: start;
    }

    .presentacion__lista {
        justify-content: space-between;
    }

    .presentacion__enlace {
        font-weight: 600;
        margin-right: 0;
        box-sizing: border-box;
        font-size: 0.8rem;
    }
}