.sobreMi {
    background-color: var(--background-azul-claro);
    margin-top: 2rem;
    padding-right: 38%;
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
}

.sobreMi__titulo {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--color-gris-fuerte);
}

.sobreMi__descripcion {
    font-weight: 400;
    font-size: 1rem;
    color: var(--color-gris-fuerte);
    line-height: 1.125rem;
    padding-top: 1.5rem;
}

.sobreMi__firma {
    width: 140px;
    height: 80px;
    margin-top: 0.75rem;
}

@media screen and (min-width:768px) and (max-width:1024px) {
    .sobreMi {
        padding-right: 6%;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}